:root {
    --first-primary-color: #212121;
    --second-primary-color: #757575;
    --accent-color: #2196F3;
    --white: #FFFFFF;
    --black: #000000;
    --grey: rgba(255, 255, 255, 0.6);
    --secondary-background-color: #2F303A;
    --additional-background-color: #F5F4FA;
    --active-btn-color: #188CE8;
    --icon-color: #AFB1B8;
    --btn-shadow-color: rgba(0, 0, 0, 0.15);
    --transition-time: 250ms;
    --transition-function: cubic-bezier(0.4, 0, 0.2, 1);
}
/* body */
body {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    letter-spacing: 0.03em;
    color: var(--first-primary-color);
    background-color: var(--white);
}
/* link */
.link {
    text-decoration: none;
    transition: color var(--transition-time) var(--transition-function);
}

button {
    border: none;
}

/* glabal margins reset */
h1,h2,h3,h4,h5,h6,p,ul {
    margin-top: 0;
    margin-bottom: 0;
}

/* img */
img {
    display: block;
    max-width: 100%;
}
.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    width: 1200px;
}

.section-title {
    margin-bottom: 50px;
    
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
}

/* header */
.logo {
    font-family:"Raleway", sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
}

.header {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color:#ECECEC;
}

.header .logo {
    margin-right: 93px;
    color: var(--black);
}

.list {
    list-style: none;
    padding-left: 0px;
}

header > .container {
    align-items: center;
    display: flex;
}

.header-nav {
    display: flex;
    align-items: center;

    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.header-nav-list {
    align-items: center;
    display: flex;
}

.header-nav-list .item:not(:last-child) {
    margin-right: 50px;
}
.header-nav-link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    letter-spacing: 0.02em;
    color: var(--first-primary-color);

    position: relative;
}

.header-nav-link.current {
    color: var(--accent-color);
}

.header-nav-link.current::after {
    content: '';
    display: block;
    width: 100%;
    height: 4px;
    background-color: var(--accent-color);
    border-radius: 2px;

    position: absolute;
    bottom: -1px;
}

.header-contact-list {
    display: flex;
    margin-left: auto;
}

.header-contact-list .item + .item {
    margin-left: 50px;
}

.header-contact-link {
    display: flex;
    padding-top: 32px;
    padding-bottom: 32px;

    letter-spacing: 0.02em;
    line-height: 1.14;
    font-weight: 500;
    
    color: var(--second-primary-color);
}

.icon-contact {
    margin-right: 10px;
    fill: currentColor;
}

.header-contact-list .item {
    display: flex;
    align-items: center;
}

/* sections */
section {
    padding-top: 94px;
    padding-bottom: 94px;
}
section.other-paddings {
    padding-top: 200px;
    padding-bottom: 200px;
}
section.no-bottom-padding {
    padding-bottom: 0px;
}

/* hero */
.hero {
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;

    background-color: var(--secondary-background-color);
    text-align: center;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4),rgba(47, 48, 58, 0.4)), url(../images/background/hero-bgd.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.hero-title {
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 696px;

    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--white);
}

.button {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    text-align: center;
    letter-spacing: 0.06em;
    font-family: inherit;

    border-radius: 4px;
    border: none;
    box-shadow: 0px 4px 4px var(--btn-shadow-color);
    background-color: var(--accent-color);
    color: var(--white);
    cursor: pointer;
    transition: background-color var(--transition-time) var(--transition-function);
}

.button:hover,
.button:focus {
    background-color: var(--active-btn-color);
}
.hero-btn {
    padding: 10px 32px;
}

.hero-btn:hover, .hero-btn:focus {
    background-color: var(--active-btn-color);
    
}
/* Advantages Section */
.advantages-list {
    display: flex;
}

.advantages-list .item:not(:last-child) {
    margin-right: 30px;
}

.advantages-list .item {
    width: calc((100%-90px)/4);
}

.advantages-container {
    margin-bottom: 30px;
    display: flex;
    height: 120px;
    width: 270px;
    justify-content: center;
    align-items: center;

    background-color: var(--additional-background-color);
    border-radius: 4px;
}

.advantages-list-title {
    margin-bottom: 10px;

    font-weight: 700;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.advantages-list-descr {
    line-height: 1.71;
    color: var(--second-primary-color)
}
/* About Section */
.about-list {
    display: flex;
}

.about-list .item:not(:last-child) {
    margin-right: 30px;
}

.about-img-wrapper {
    position: relative;
}

.about-list-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 70px;

    background-color: rgba(47, 48, 58, 0.8);

    position: absolute;
    bottom: 0;
}

.about-list-title {
    font-size: inherit;
    font-weight: 700;
    line-height: 1.14;
    text-align: center;
    text-transform: uppercase;
    color: var(--white);
}

/* Our Team Section */
.team {
   background-color: var(--additional-background-color);
}

.team-list {
    display: flex;
}

.team-list .item {
    background-color: var(--white);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.team-list .item:not(:last-child) {
    margin-right: 30px;
}

.team-list-title {
    margin-bottom: 10px;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.17;
    text-align: center;
}
.team-list-descr {
    margin-bottom: 16px;

    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    color: var(--second-primary-color)
}

.socials-list {
    display: flex;
    justify-content: center;
}

.socials-item:not(:last-child) {
    margin-right: 10px;
}

.socials-link {
    width: 44px;
    height: 44px;
    color: var(--icon-color);
    background-color: var(--white);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: color var(--transition-time) var(--transition-function), background-color var(--transition-time) var(--transition-function);
}

.socials-link.link:hover,
.socials-link.link:focus {
    color: var(--white);
    background-color: var(--accent-color);
}

.socials-icon {
    fill: currentColor;
}

.team-container {
    padding-top: 30px;
    padding-bottom: 30px;
}

/* Clients Section */

.clients-list {
    display: flex;
    justify-content: center;
}

.clients-list-item:not(:last-child) {
    margin-right: 30px;
}

.clients-link {
    width: 170px;
    height: 92px;;
    display: flex;
    justify-content: center;
    align-items: center;

    color:  var(--icon-color);
    border: 1px solid var(--icon-color);
    border-radius: 4px; 
    transition: color var(--transition-time) var(--transition-function), border-color var(--transition-time) var(--transition-function);
}

.clients-link:hover,
.clients-link:focus {
    color: var(--accent-color);
    border-color: var(--accent-color);
}

.clients-icon {
    fill: currentColor;
}

/* footer */
.footer .container {
    display: flex;
    align-items: baseline;
}
.footer .logo {
    display: block;
    margin-bottom: 20px;
    color: var(--white);
}

.logo-web {
    color: var(--accent-color);
}

.footer {
    background-color: var(--secondary-background-color);
}

.footer > .container {
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer-list .item:not(:last-child) {
    margin-bottom: 9px;
}

.footer-list-link {
    line-height: 1.71;    
    color: var(--grey);
    font-style: inherit;
}
.footer-address{
    font-style: normal;
}
.address {
    color: var(--white)
}
/* footer socials */
.footer-socials {
    margin-left: 70px;
}

.call-to-action {
    margin-bottom: 20px;

    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;

    color: var(--white);
}

.footer .socials-link {
    color: var(--white);
    background-color: rgba(255, 255, 255, 0.1);;
}

.link:hover,
.link:focus {
    color: var(--accent-color);
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}
.list {
    list-style: none;
}
/* footer form */
.footer-form {
    margin-left: 93px;
}

.footer-form-wrap {
    display: flex;
}

.footer-form-element {
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
}

.footer-form-input {
    width: 358px;
    height: 50px;
    padding: 15px 16px;

    color: var(--white);

    background-color: transparent;    
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    transition: border-color var(--transition-time) var(--transition-function);
}

.footer-form-input::placeholder {
    color: var(--grey);    
}

.footer-form-input:focus, .footer-form-input:hover {
    outline: none;
    border-color: var(--white);
    cursor: pointer;
}

.footer-form-btn {
    display: flex;
    align-items: center;
    padding: 10px 28px;
    margin-left: 12px;
}

.btn-icon-send {
    margin-left: 10px;
    fill: currentColor;
}
/* modal */
.backdrop {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.2);
    opacity: 1;
    transition: opacity var(--transition-time) var(--transition-function);
}

.modal {
    padding: 40px;
    width: 528px;
    height: 581px;
    background-color: var(--white);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.close-btn {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;

    color: var(--black);
    background: var(--white);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;

    position: absolute;
    top: 8px;
    right: 8px;

    cursor: pointer;
    transition: color var(--transition-time) var(--transition-function);
}

.close-btn:hover, 
.close-btn:focus {
    color: var(--accent-color);
}

.close-btn-icon {
    fill: currentColor;
}

.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
}

.no-scroll {
    overflow: hidden;
}

.form-element {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;

    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
}

.form-call-to-action {
    margin-bottom: 12px;

    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
}

.form-label {
    margin-bottom: 4px;

    color: var(--second-primary-color);
}

.form-input {
    padding-right: 12px;
    padding-left: 42px;
    height: 40px;
    width: 100%;

    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    transition: border-color var(--transition-time) var(--transition-function);
}

input[type="textarea"] {
    height: 120px;
}

.input-wrap {
    position: relative;
}

.input-icon {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
    fill: currentColor;
    transition: fill var(--transition-time) var(--transition-function);
}
.input-wrap:focus-within, .input-wrap:hover {
    color: var(--accent-color);
}

.input-wrap:focus-within .form-input, .form-input:hover {
    outline: none;
    border-color: var(--accent-color);
    cursor: pointer;
}

.textarea {
    height: 120px;
    padding: 12px 16px;
    resize: none;
}

.textarea::placeholder {
    color: rgba(117, 117, 117, 0.5);
}

.form-element.comment {
    margin-bottom: 20px;
}

.accept {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;

    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--second-primary-color);
}

.accept:hover {
    cursor: pointer;
}

.accept-link {
    color: var(--accent-color);
    text-decoration: underline;
}

.custom-checkbox {
    display: flex;
    position: relative;
    margin-right: 8px;
}

.tick {
    position: absolute;
    top: 0;
    left: 0;
    fill: transparent;
    transition: fill var(--transition-time) var(--transition-function);
}
.unchecked {
    transition: fill var(--transition-time) var(--transition-function), background-color var(--transition-time) var(--transition-function);
}

.checkbox:checked + .custom-checkbox > .unchecked {
    fill: var(--accent-color);
    background-color: var(--accent-color);
    border-radius: 2px;
}

.checkbox:checked + .custom-checkbox > .tick {
    fill: var(--white);
}

.form-btn {
    padding: 10px 52px; 
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* portfolio.html */
/* Projects Section */
.projects-btn-list {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.projects-btn-list .item:not(:last-child) {
    margin-right: 8px;
}

.projects-list {
    display: flex;
    flex-wrap: wrap;
}

.projects-list .item {
    flex-basis: calc((100% - 60px) / 3);
    margin-right: 30px;
    margin-bottom: 30px;
    box-sizing: border-box;
}

.projects-list .item:nth-child(3n) {
    margin-right: 0px;
}

.card-border {
    padding: 20px 24px;

    border: 1px solid #EEEEEE;
    border-top: 0px;
}

.projects-link {
    display: block;
    outline: none;
    transition: box-shadow var(--transition-time) var(--transition-function);
}

.projects-link:hover,
.projects-link:focus,
.projects-link:focus .projects-descr-container {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.projects-img-wrapper {
    overflow: hidden;
    position: relative;
}

.projects-descr-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

    background: rgba(33, 150, 243, 0.9);
    position: absolute;
    left: 0;
    top: 0;
    transform: translateY(101%);
    transition: transform var(--transition-time) var(--transition-function);
}

.projects-descr-wrapper img {
    display: block;
}

.projects-item:hover .projects-descr-wrapper {
    transform: translateY(0);
}

.projects-list-descr {
    padding-left: 24px;
    padding-right: 24px;

    font-size: 18px;
    line-height: 1.56;
    color: var(--white);
}

.projects {
    margin-bottom: -30px;
}

.projects-list-title {
    margin-bottom: 4px;

    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--first-primary-color);
}

.projects-list-category {
    font-size: 16px;
    line-height: 1.86;    
    color: var(--second-primary-color);
}

.projects-btn {
    padding: 6px 22px;

    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    text-align: center;
    color: inherit;
    letter-spacing: inherit;
    cursor: pointer;
    border-radius: 4px;
    border: none;
    transition: background-color var(--transition-time) var(--transition-function), color var(--transition-time) var(--transition-function), box-shadow var(--transition-time) var(--transition-function);
}
.projects-btn.main-btn {
    padding: 6px 25px;
}

.projects-btn:hover,
.projects-btn:focus {
    background-color: var(--accent-color);
    color:var(--white);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}